<div class="main-content-w">
  <div class="main-content-m">
    <div class="main-content-i">
      <div class="content side-padded-content">
        <div id="primary-content" data-page-id="407" class="index-isotope v3   isotope-active" data-layout-mode="masonry"
          style="position: relative; height: 2823.5px;">
        <div *ngFor="let cards of feedCards">
        <div class="item-isotope format-standard" data-post-id="161" data-total-likes="3680"
            data-total-views="0">
            <article id="post-159" class="pluto-post-box post-159 post type-post status-publish format-standard has-post-thumbnail hentry category-image-text tag-jam tag-orange">
              <div class="post-body">
                <div class="post-top-share">
                  <i class="fa os-icon-plus share-activator-icon share-activator"></i>
                  <span class="share-activator-label share-activator caption">Share</span>
                  <div class="os_social-head-w">
                    <div class="os_social"><a class="os_social_twitter_share" href="http://twitter.com/share?url=http://127.0.0.1:81/wordpress/2014/05/05/orange-carrot-smoothie/&amp;text=Orange+carrot+smoothie"
                        target="_blank"><img src="../../../assets/images/socialicons/twitter.png"
                          title="Twitter" class="os_social" alt="Tweet about this on Twitter"></a><a class="os_social_pinterest_share"
                        data-pin-custom="true" target="_blank" href="//www.pinterest.com/pin/create/button/?url=http://127.0.0.1:81/wordpress/2014/05/05/orange-carrot-smoothie/&amp;media=http://127.0.0.1:81/wordpress/wp-content/uploads/2014/05/AdobeStock_103332683.jpg&amp;description=Orange+carrot+smoothie"><img
                          src="../../../assets/images/socialicons/pinterest.png" title="Pinterest"
                          class="os_social" alt="Pin on Pinterest"></a><a class="os_social_linkedin_share" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://127.0.0.1:81/wordpress/2014/05/05/orange-carrot-smoothie/"
                        target="_blank"><img src="../../../assets/images/socialicons/linkedin.png"
                          title="Linkedin" class="os_social" alt="Share on LinkedIn"></a><a class="os_social_google_share"
                        href="https://plus.google.com/share?url=http://127.0.0.1:81/wordpress/2014/05/05/orange-carrot-smoothie/"
                        target="_blank"><img src="../../../assets/images/socialicons/google.png"
                          title="Google+" class="os_social" alt="Share on Google+"></a><a class="os_social_email_share"
                        href="mailto:/?Subject=Orange+carrot+smoothie&amp;Body=%20http://127.0.0.1:81/wordpress/2014/05/05/orange-carrot-smoothie/"><img
                          src="../../../assets/images/socialicons/email.png" title="Email"
                          class="os_social" alt="Email this to someone"></a><a class="os_social_facebook_share" href="http://www.facebook.com/sharer.php?u=http://127.0.0.1:81/wordpress/2014/05/05/orange-carrot-smoothie/"
                        target="_blank"><img src="../../../assets/images/socialicons/facebook.png"
                          title="Facebook" class="os_social" alt="Share on Facebook"></a><a class="os_social_vk_share"
                        href="http://vkontakte.ru/share.php?url=http://127.0.0.1:81/wordpress/2014/05/05/orange-carrot-smoothie/"
                        target="_blank"><img src="../../../assets/images/socialicons/vkontakte.png"
                          title="Vkontakte" class="os_social" alt="Share on Vkontakte"></a><a class="os_social_ok_share"
                        href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st._surl=http://127.0.0.1:81/wordpress/2014/05/05/orange-carrot-smoothie/"
                        target="_blank"><img src="../../../assets/images/socialicons/ok.png"
                          title="Odnoklassniki" class="os_social" alt="Share on Odnoklassniki"></a></div>
                  </div>
                </div>
                <div class="post-media-body">
                  <div class="figure-link-w"><a href="/2014/05/05/orange-carrot-smoothie/" class="figure-link">
                      <figure class="abs-image" style="padding-bottom: 66%;"><img src="{{cards.imageURL}}"
                          class="attachment-pluto-index-width size-pluto-index-width wp-post-image" alt="" />
                        <div class="figure-shade"></div><i class="figure-icon  os-new-icon os-new-icon-eye"></i>
                      </figure>
                    </a></div>
                </div>

                <div class="post-content-body">
                  <h4 class="post-title entry-title"><a href="/2014/05/05/orange-carrot-smoothie/">{{cards.title}}</a></h4>
                  <div class="post-content entry-summary">{{cards.description}}.<div class="read-more-link"><a href="/2014/05/05/orange-carrot-smoothie/">Read
                        More</a></div>
                  </div>
                </div>
              </div>
              <div class="post-meta entry-meta">

                <ul class="post-categories">
                  <li><a href="/category/image-text/" rel="category tag">Image &amp; Text</a></li>
                </ul>
                <div class="meta-date">
                  <i class="os-new-icon os-new-icon-clock"></i>
                  <time class="entry-date updated" datetime="2014-05-05T21:26:35+00:00">May 5</time>
                </div>

                <div class="meta-like">
                  <div class="fb-like" data-href="http://127.0.0.1:81/wordpress/2014/05/05/orange-carrot-smoothie/"
                    data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                </div>
              </div>
            </article>
          </div> 
        </div>
        </div>
        <div class="isotope-next-params" data-params="paged=2&amp;posts_per_page=14&amp;post_status=publish&amp;category__in=0"
          data-layout-type="v3" data-template-type=""></div>
        <!-- <div class="load-more-posts-button-w">
          <a href="#"><i class="os-icon-plus"></i> <span>Load More Posts</span></a>
        </div> -->
        <div class="pagination-w hide-for-isotope" style="display: none;">
          <div class="wp-pagenavi">
            <span class="pages">Page 1 of 2</span><span class="current">1</span><a class="page larger" title="Page 2"
              href="http://pluto.pinsupreme.com/page/2/">2</a><a class="nextpostslink" rel="next" href="http://pluto.pinsupreme.com/page/2/">»</a>
          </div>
        </div>
        <div class="infinite-scroll-trigger"></div>
      </div>
    </div>
  </div>

  <!-- <div class="pre-footer stacked-widgets widgets-count-1 color-scheme-light">
    <aside id="text-9" class="widget-odd widget-last widget-first widget-1 no-padding widget widget_text">
      <div class="textwidget">
        <div id="sb_instagram" class="sbi sbi_disable_mobile sbi_col_10" style="width:100%; " data-id="3532778"
          data-num="10" data-res="auto" data-cols="10" data-options="{&quot;sortby&quot;: &quot;none&quot;, &quot;showbio&quot;: &quot;false&quot;, &quot;headercolor&quot;: &quot;&quot;, &quot;imagepadding&quot;: &quot;&quot;}"
          data-sbi-index="0">
          <div id="sbi_images">
            <div class="sbi_loader fa-spin"></div>
          </div>
          <div id="sbi_load"></div>
        </div>
      </div>
    </aside>
  </div> -->
  <!-- <div class="main-footer with-social color-scheme-light">
    <div class="footer-copy-and-menu-w">
      <div class="footer-menu">
        <ul id="footer-menu" class="menu">
          <li id="menu-item-1412" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1412"><a
              href="http://pluto.pinsupreme.com/page-for-members-only/">Page for members only</a></li>
          <li id="menu-item-1413" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1413"><a
              href="http://pluto.pinsupreme.com/login/">Login</a></li>
          <li id="menu-item-1414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1414"><a
              href="http://pluto.pinsupreme.com/register/">Register</a></li>
        </ul>
      </div>
      <div class="footer-copyright"><a href="https://pinsupreme.com/wordpress-theme/clean-personal-masonry-blog-wordpress-theme"
          target="_blank" title="High Quality Wordpress theme for personal blogs">Masonry Grid Style Wordpress Blog
          Theme</a></div>
    </div>
    <div class="footer-social-w">
      <div class="zilla-social size-32px"><a href="http://www.facebook.com/PinSupreme" class="Facebook"><img src="http://pluto.pinsupreme.com/wp-content/plugins/zilla-social/images/32px/Facebook.png"
            alt="Facebook"></a> <a href="http://www.instagram.com" class="Instagram"><img src="http://pluto.pinsupreme.com/wp-content/plugins/zilla-social/images/32px/Instagram.png"
            alt="Instagram"></a> <a href="http://pinterest.com/username" class="Pinterest"><img src="http://pluto.pinsupreme.com/wp-content/plugins/zilla-social/images/32px/Pinterest.png"
            alt="Pinterest"></a> <a href="https://twitter.com/PinSupreme" class="Twitter"><img src="http://pluto.pinsupreme.com/wp-content/plugins/zilla-social/images/32px/Twitter.png"
            alt="Twitter"></a> </div>
    </div>
  </div> -->
</div>