<div class="menu-block ">
  <div class="menu-inner-w">
    <div class="logo hidden-xs hidden-sm">
      <a href="http://www.trendis.com/">
        <img src="./assets/images/big-logo.png" alt="">
      </a>
    </div>
    <div class="menu-activated-on-hover menu-w">
      <div class="os_menu">
        <ul id="menu-side-menu-1" class="menu">
          <li [ngClass]="{'active':selectedCategoryId===menu.id}" *ngFor="let menu of allMenuConfig" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-316"><a
            routerLink="{{locateCountry}}/{{menu.id}}/all" (click)="setSelectedMenu(menu)">{{menu.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-social-w">
      <!-- <div class="zilla-social size-32px"><a href="https://www.facebook.com/trendispage/" class="Facebook"><img src="http://pluto.pinsupreme.com/wp-content/plugins/zilla-social/images/32px/Facebook.png"
            alt="Facebook" /></a>  </div> -->
    </div>
  </div>

</div>


<div class="menu-toggler-w">
  <a href="#" class="menu-toggler">
    <i class="os-new-icon os-new-icon-menu"></i>
    <span class="menu-toggler-label">Menu</span>
  </a>
  <a href="/" class="logo">
    <img src="./assets/images/logo.png" alt="">
    <!-- <span>Trendis</span> -->
  </a>
  <div class="search-and-sidebar-togglers">
    <a href="#" class="search-trigger">
      <i class="os-new-icon os-new-icon-search"></i>
    </a>

    <a href="#" class="sidebar-toggler">
      <i class="os-new-icon os-new-icon-grid"></i>
    </a>
  </div>
</div>

