.top-sidebar-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
}
.widget {
    padding: 0px;
}

.no-more-posts-message{
    margin-top: 5px;
    padding: 10px;
    text-align: left;
    color: #414344;
    font-family: Nunito;
    font-size: 18px;
}