<div class="main-content-w">
  <div class="main-content-m">
    <div class="main-content-i">
      <div class="top-sidebar-wrapper">
        <aside id="media_image-3" class="widget widget_media_image">
          <img src="./assets/images/trendis-home.jpg" class="image wp-image-1831  attachment-full size-full" alt=""
            style="max-width: 100%; height: auto;" />
        </aside>
      </div>

      <div class="no-more-posts-message" style="display: block;"><span>TRENDING IN LAST 24 HOURS</span></div>
      <app-post-carousel></app-post-carousel>

      <div class="no-more-posts-message" style="display: block;"><span> TRENDING HUMOR</span></div>
      <app-post-carousel></app-post-carousel>

      <div class="no-more-posts-message" style="display: block;"><span> TRENDING SPORTS</span></div>
      <app-post-carousel></app-post-carousel>
    </div>
  </div>
</div>