/*
Theme Name: Theme Pluto by PinSupreme
Theme URI: https://pinsupreme.com/wordpress-theme/clean-personal-masonry-blog-wordpress-theme
Author: PinSupreme
Author URI: https://pinsupreme.com/
Description: Masonry Grid Style Wordpress Theme
Version: 4.1.1
License:
License URI:
Tags: black, white
Text Domain: pluto-by-osetin
*/

.wp-caption {
  max-width: 100%;
}
.wp-caption-text {

}
.sticky {

}
.gallery-caption {

}
.bypostauthor {

}
.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}
.aligncenter {
  text-align: center;
}

.screen-reader-text { display: none; }