h1{
    text-align: center;
    line-height: 200px;
    background: rgba(0,0,0,.32);
    color: #fff;
    margin: 0;
  }
  .leftRs {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
      border-radius: 999px;
      left: 0;
  }

  .rightRs {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
      border-radius: 999px;
      right: 0;
  }

.wBg {
    background: #fff;
}
h4{
    margin: 0;
    padding: 10px 15px;
    text-align: center;
}
p{
    margin: 0;
    padding: 10px 10px;
    color: #5c5c5c;
    font-weight: 400;
    font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.428571429;
}