<ngu-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">

  <ngu-tile NguCarouselItem *ngFor="let Tile of carouselTileItems">
    <div class="tile">
      <div class="wBg ng-tns-c1-1">
        <div class="tile" style="background: url(&quot;assets/canberra.jpg&quot;);">
          <!-- <h1>{{Tile + 1}}</h1> -->
          <img src="https://i.ytimg.com/vi/eISQHeRFGUM/hqdefault.jpg" height="200" />
        </div>
        <!-- <h4 class="ng-tns-c1-1">Tile</h4> -->
        <p class="ng-tns-c1-1">content</p>
      </div>
    </div>
  </ngu-tile>

  <button NguCarouselPrev class='leftRs'>&lt;</button>
  <button NguCarouselNext class='rightRs'>&gt;</button>
</ngu-carousel>