
#top-menu-bar .index-sort-w {
    padding: 5px 20px 5px 20px !important;
}
#top-menu-bar .os_menu{
    text-align: left;
    border-top: none;
    padding-top: 0px;
    font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 15px;
    margin-left: -15px;
}
#top-menu-bar .os_menu > ul {
    margin: 0px;
    float: left;
}
#top-menu-bar .os_menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#top-menu-bar .os_menu > ul > li {
    float: left;
    padding: 0px;
    position: relative;
    margin-bottom: 0px;
    font-size: 16px;
    margin: 0px;
}
#top-menu-bar .os_menu li.menu-item-has-children {
    list-style-type: none;
}
#top-menu-bar .os_menu > ul > li.menu-item-has-children > a {
    padding-left: 35px;
}
#top-menu-bar .os_menu > ul > li > a {
    box-sizing: border-box;
    padding: 12px 15px;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
}
#top-menu-bar .os_menu li a {
    color: #414344;
    outline: none;
    font-weight: 600;
    text-shadow: none;
    text-decoration: none;
    position: relative;
    display: block;
}
#top-menu-bar #top-menu-bar a {
    background: transparent;
}
#top-menu-bar a span.active{
    border-bottom: 3px solid #4c6df7;
}
/* #top-menu-bar .os_menu > ul > li.menu-item-has-children > a:before {
    content: "\e942";
    color: #4c6df7;
    left: 14px;
    top: 50%;
    font-size: 8px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
#top-menu-bar .os_menu li.menu-item-has-children > a:before {
    content: "\e911";
    font-family: 'osfontnew';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    position: absolute;
    left: -16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #8c9092;
} */