<div id="top-menu-bar" *ngIf="selectedMenuConfig" class="index-filter-bar color-scheme-light minimal" style="left: 270px;position: fixed;width: 100%;">
  <div class="index-sort-w">
    <!-- <div class="index-sort-label"><i class=""></i><span>Order By</span></div>
    <div class="index-sort-options"><button data-sort-value="likes" class="index-sort-option index-sort-hearts">Most
        Likes</button><button data-sort-value="views" class="index-sort-option index-sort-views">Most Views</button></div> -->
    <div class="os_menu">
      <ul id="menu-side-menu" class="menu">
        <li id="menu-item-316" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-316"><a
            routerLink="{{countryService.getLocateCountry()}}/{{selectedMenuConfig.id}}/{{subItem.id}}" *ngFor="let subItem of selectedMenuConfig.subMenuConfigs">
        <span [ngClass]="{'active':selectedSubcategoryId===subItem.id}">{{subItem.name}}</span>
        </a>
        </li>
      </ul>
    </div>
  </div>
</div>